* {
	font-family: monospace !important;
}

h1 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 35px;
}

.map {
	width: 100%;
	margin-bottom: 25px;
	margin-top: 25px;

	.cell {
		width: 100%;
		padding-bottom: 100%;
		position: relative;
	}

	.cell-content {
		word-break: break-all;
		position: absolute;
		width: 100%;
		height: 100%;
		font-size: 7px;
	}

	.wall {
		background-color: black;
	}

	.empty {
		background-color: white;
	}

	.departure {
		background-color: rgb(9, 211, 9);
	}

	.arrival {
		background-color: red;
	}

	.ant-1 {
		background-color: rgba(0, 128, 128, 0.7);
	}

	.ant-2 {
		background-color: rgba(0, 255, 255, 0.7);
	}
}

.infos {
	font-size: 8px;
}

#divI {
	margin-top: 45px;
	margin-bottom: 45px;
	input {
		border-top: solid 1px transparent;
		border-left: solid 1px transparent;
		border-right: solid 1px transparent;
		border-bottom: solid 1px black;
		border-radius: 0;
		outline: none;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 0;
	}
	#bI {
		&:active {
			filter: brightness(50%);
		}
		&:hover {
			background-color: white;
			transition: 0.2s ease-in-out;
		}
		height: 30px;
		padding-top: 0;
		padding-bottom: 0;
	}
}

#error {
	color: #d9534f;
	font-size: 10px;
	font-weight: 600;
}

#success {
	color: #5cb85c;
	font-size: 10px;
	font-weight: 600;
}
