h1 {
    text-align: center;
}

.map {
    width: 60%;
    box-shadow: 0 0 15px black;
    margin: auto;
}

.cell {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border: solid 0.1px #a7a7a7;
}

.cell-content {
    word-break: break-all;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 10px;
  }

.wall {
    background-color: black;
}

.empty {

}

.departure {
    background-color: green;
}

.arrival {
    background-color: yellow;
}

.v1 {
    color: red;
}

.v2 {
    color: blue;
}

.ant-1 {
    background-color: teal;
}

.ant-2 {
    background-color: pink;
}